.send-feedback-image-40 {
    width: 30px;
    height: 26px;
}

.mobile-first-UX-image-50 {
    margin-bottom: 12px;
}

.product-detail-banner {
    background-image: url(../../../../public/assets/images/home/img_product_details.png) !important;
}


.col.right-border.text-center .mt-2,
h5,
p {
    text-align: left !important;
}


.explore-sec h2 {
    text-align: left;
}

.explore-sec a {
    margin-left: -125px;
}

#explore .btn {
    width: 200px !important;
}